%h1 Listing listing_images
%table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @listing_images.each do |listing_image|
      %tr
        %td= link_to 'Show', listing_image
        %td= link_to 'Edit', edit_listing_image_path(listing_image)
        %td= link_to 'Destroy', listing_image, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Listing image', new_listing_image_path