<h1>Listing listing_images</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_images.each do |listing_image| %>
      <tr>
        <td><%= link_to 'Show', listing_image %></td>
        <td><%= link_to 'Edit', edit_listing_image_path(listing_image) %></td>
        <td><%= link_to 'Destroy', listing_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing image', new_listing_image_path %>
