%header#top-nav.navbar
  .navbar-inner
    .container
      .row
        .span12
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/")
            = image_tag("block1.jpg", size: "50x50")
            %h1 Stash 'n' Share